<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New tweets page</h1>
    <p>Please fill out the form below to add a new tweet</p>
    <form action="/tweets/create" method="POST">

        <label>Title:</label>
        <input type="text" name="Tweet.tweet" placeholder="tweet" value="tweet">

        <label>Author:</label>
        <select name="twitter_handle">
          <option value="U1">handle 1</option>
          <option value="U2">handle 2</option>
          <option value="U3">handle 3</option>
        </select>

        <button>Submit</button>
    </form>

    
</body>
</html>